{% extends '/sitio/base.html' %}

{% block title %}Comprar{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top-comprar" src="/img/products/{{ result[0][3] }}" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h1 class="card-title">{{result[0][1]}}</h1>
                <div class="mb-3">
                    <p class="product-price">$ {{ "{:,.0f}".format(result[0][4]) }}</p>
                    <p class="product-description">
                        Descripción del Producto:
                    </p>
                    <p>
                        {{ result[0][2] }}
                    </p>
                    <div class="mb-3 d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            {% if result[0][5] == 0 %}
                                <button type="button" class="btn btn-outline-primary" disabled>-</button>
                                <input value="0" class="text-center comprar" type="text" name="cantidad" id="cantidad" min="1" data-disponible="{{ result[0][5] }}" readonly>
                                <button type="button" class="btn btn-outline-primary" disabled>+</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-primary" onclick="decrementarCantidad()">-</button>
                                <input value="1" class="text-center comprar" type="text" name="cantidad" id="cantidad" min="1" data-disponible="{{ result[0][5] }}" readonly>
                                <button type="button" class="btn btn-outline-primary" onclick="incrementarCantidad()">+</button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        {% if result[0][5] == 0 %}
                            <div class="alert alert-danger" role="alert">
                                Producto agotado
                            </div>
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <a class="btn btn-outline-success" href="/productos">Elegir otro producto</a>
                            </div>
                        {% else %}
                        <form action="/comprar/carrito" method="post" onsubmit="actualizarCantidad()">
                            <input type="hidden" name="cantidad" id="hiddenCantidad" value="1">
                            <input type="hidden" name="nombre_usuario" id="nombre_usuario" value="{{session['users']}}">
                            <input type="hidden" name="txtid_producto" id="txtid_producto" value="{{ result[0][0] }}">
                            <button type="submit" name="modificar" class="btn btn-primary">Agregar al carrito</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function incrementarCantidad() {
        var cantidadInput = document.getElementById("cantidad");
        var cantidad = parseInt(cantidadInput.value);
        var limite = parseInt(cantidadInput.getAttribute("data-disponible"));

        if (cantidad < limite) {
            cantidadInput.value = cantidad + 1;
        } else {
            alert("Se ha alcanzado el límite máximo de cantidad.");
        }
    }

    function decrementarCantidad() {
        var cantidadInput = document.getElementById("cantidad");
        var cantidad = parseInt(cantidadInput.value);
        var limite = 1; 

        if (cantidad > limite) {
            cantidadInput.value = cantidad - 1;
        } else {
            alert("Se ha alcanzado el límite mínimo de cantidad.");
        }
    }

    function actualizarCantidad() {
        var cantidadInput = document.getElementById("cantidad");
        var hiddenCantidadInput = document.getElementById("hiddenCantidad");
        hiddenCantidadInput.value = cantidadInput.value;
    }
</script>

{% endblock %}
