{% extends '/admin/base.html' %}

{% block title %} registro {%endblock%}

{% block body%}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            {% with errores = get_flashed_messages(category_filter='error') %}
                {% if errores %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in errores %}
                            <strong>{{ error }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            {% with exitos = get_flashed_messages(category_filter='success') %}
                {% if exitos %}
                    <div class="alert alert-success" role="alert">
                        {% for exito in exitos %}
                            <strong>{{ exito }}</strong>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="card">
                <div class="card-header">
                    <h1>Crear una cuenta</h1>
                </div>
                <div class="card-body">
                    <form action="/admin/registro/guardar" method="post" enctype="multipart/form-data" >
                        <div class="mb-3">
                            <label for="txtnombre" class="form-label">Nombre:</label>
                            <input value="{{ get_flashed_messages(category_filter='nombrer')[0] }}" type="text" class="form-control" name="txtnombre" id="txtnombre"  placeholder="Ingresa su Nombre" >
                        </div>
                        <div class="mb-3">
                            <label for="txtapellido" class="form-label">Apellido:</label>
                            <input value="{{ get_flashed_messages(category_filter='apellidor')[0] }}" type="text" class="form-control" name="txtapellido" id="txtapellido"  placeholder="Ingresa su Apellido" >
                        </div>
                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input type="file" class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen" value="{{ get_flashed_messages(category_filter='archivor')[0] }}">
                                {% with archivossr = get_flashed_messages(category_filter='archivor') %}
                                    {% if archivossr %}
                                        <img src="/img/temp/{{ get_flashed_messages(category_filter='archivor')[0] }}" alt="Imagen actual" width="100">
                                    {% endif %}
                                {% endwith %}                            
                        </div>
                        <div class="mb-3">
                            <label for="txtusuario" class="form-label">Usuario:</label>
                            <input value="{{ get_flashed_messages(category_filter='usuarior')[0] }}" type="text" class="form-control" name="txtusuario" id="txtusuario"  placeholder="Ingresa su Usuario" >
                        </div>
                        <div class="mb-3">
                            <label for="txtpassword" class="form-label">Contraseña:</label>
                            <input value="{{ get_flashed_messages(category_filter='contraseñar')[0] }}" type="password" class="form-control" name="txtpassword" id="txtpassword"  placeholder="Ingresa su Contraseña" >
                        </div>
                        <div class="mb-3">
                            <label for="txttipo_usuario" class="form-label">Tipo Usuario:</label>
                            <select id="txttipo_usuario" class="form-control" name="txttipo_usuario">
                                <option value="vacio">Tipo de usuario</option>
                                <option value="Supervisor">Supervisor</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-primary">Guardar</button>
                        </div>
                    </form>
                
                </div>

                    <div class="card-footer text-muted">

                    </div>
            </div>
        </div>

                    <div class="col-md-7">

                            <table class="table table-bordered">
                                <h1>Administradores</h1>
                                <thead>
                                    <tr class="text-center">
                                        <th>Nombre</th>
                                        <th>Apellido</th>   
                                        <th>Foto</th> 
                                        <th>Usuario</th>
                                        <th>Contraseña</th>
                                        <th colspan="2">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuarios in usuario %}
                                        <tr>
                                            <td>{{usuarios[1]}}</td>
                                            <td>{{usuarios[2]}}</td>
                                            <td>
                                                <img width="60" src="/img/users/{{usuarios[3]}}" class="img-fluid rounded-top" alt="">
                                            </td>
                                            <td>{{usuarios[4]}}</td>
                                            <td>
                                                <span class="masked-text">
                                                    {% set cantidad_caracteres = usuarios[5]|length %}
                                                    {% set asteriscos = '*' * cantidad_caracteres %}
                                                    {{ asteriscos }}
                                                </span>
                                                <span class="visible d-none">{{ usuarios[5] }}</span>
                                            </td>
                                            
                                            <td>
                                                <form action="/admin/registro/borrar" method="post">
                                                    <input value="{{usuarios[0]}}" type="hidden" name="txtid" id="txtid">
                                                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="/admin/modificar" method="post">
                                                    <input value="{{usuarios[0]}}" type="hidden" name="txtid" id="txtid">
                                                    <button type="submit" name="modificar" class="btn btn-outline-info">Modificar</button>
                                                </form>
                                            </td>
                                        </tr>
                                        
                                    {% endfor %}
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <h1>Supervisores</h1>
                                <thead>
                                    <tr class="text-center">
                                        <th>Nombre</th>
                                        <th>Apellido</th>   
                                        <th>Foto</th> 
                                        <th>Usuario</th>
                                        <th>Contraseña</th>
                                        <th colspan="2">Accion</th>
                                    </tr>
                                </thead>

                                    <tbody>
                                        {% for registros in registro %}

                                            <tr>
                                                <td>{{registros[1]}}</td>
                                                <td>{{registros[2]}}</td>
                                                <td>
                                                <img width="60" src="/img/users/{{registros[3]}}" class="img-fluid rounded-top" alt="">
                                                </td>
                                                <td>{{registros[4]}}</td>
                                                <td>
                                                    <span class="masked-text">
                                                        {% set cantidad_caracteres = registros[5]|length %}
                                                        {% set asteriscos = '*' * cantidad_caracteres %}
                                                        {{ asteriscos }}
                                                    </span>
                                                    <span class="visible d-none">{{ registros[5] }}</span>
                                                </td>                                             

                                                <td>
                                                    <form action="/admin/registro/borrar" method="post">
                                                        <input value="{{registros[0]}}" type="hidden" name="txtid" id="txtid">
                                                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="/admin/modificar" method="post">
                                                        <input value="{{registros[0]}}" type="hidden" name="txtid" id="txtid">
                                                        <button type="submit" name="modificar" class="btn btn-outline-info">Modificar</button>
                                                    </form>
                                                </td>
                                            </tr>

                                        {% endfor %}
                                    </tbody>

                            </table>
                        </div>
                    <!-- </div> -->
                
            
            
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const maskedTexts = document.querySelectorAll('.masked-text');
        maskedTexts.forEach(maskedText => {
            maskedText.addEventListener('click', () => {
                const visibleText = maskedText.nextElementSibling;
                maskedText.classList.toggle('d-none');
                visibleText.classList.toggle('d-none');

                if (!visibleText.classList.contains('d-none')) {
                    setTimeout(() => {
                        maskedText.classList.toggle('d-none');
                        visibleText.classList.toggle('d-none');
                    }, 2000); 
                }
            });
        });
    });
</script>



{%endblock%}

